section.home {
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(
        270deg,
        rgba(0, 49, 102, 1) 0%,
        // rgba(255,255,255,1 ) 0%,
        rgba(0, 122, 255, 1) 100%
    );
    animation: gradient 15s ease infinite;
    background-size: 200% 200%;

    @media (max-width: 576px) {
        padding: 100px 40px;
        align-items: flex-start;
    }

    h1 {
        color: #fff;
        white-space: pre-line;
        font-weight: 500;
        font-size: 46px;
        line-height: 62px;
        margin-bottom: 20px;
    }

    button {
        background-color: #fff;
        color: #003166;
        border-radius: 40px;
        padding: 10px 30px;
    }

    > div div {
        margin-bottom: 40px;

        h3 {
            color: #fff;
        }
    }
}

section.team {
    .box_top {
        padding: 100px;
        position: relative;

        @media (max-width: 576px) {
            padding: 100px 40px;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            display: block;
            margin: auto;
            // width: 85%;

            @media (max-width: 1024px) {
                width: 100%;
                max-width: 350px;
            }
        }

        > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @media (max-width: 576px) {
                width: calc(100% - 80px);
                h2 {
                    white-space: normal;
                }
            }

            h2 {
                white-space: pre-line;
                text-align: center;
                line-height: 36px;

                @media (max-width: 576px) {
                    font-size: 22px;
                    white-space: normal;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }

    .box_below {
        background: linear-gradient(
            270deg,
            rgba(0, 49, 102, 1) 0%,
            rgba(0, 122, 255, 1) 100%
        );

        padding: 40px 100px;

        @media (max-width: 576px) {
            padding: 40px;
        }

        h4 {
            color: #fff;
            font-weight: 400;
            line-height: 21px;
            white-space: pre-line;

            span {
                font-weight: 700;
            }
        }
    }
}

section.specialties {
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
        min-height: unset;
    }

    @media (max-width: 576px) {
        padding: 40px 20px;
        align-items: normal;
    }

    h1 {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    h2 {
        white-space: pre-line;
        text-align: center;

        @media (max-width: 992px) {
            white-space: normal;
        }

        span {
            font-weight: 500;
        }
    }

    > div {
        .container_text {
            margin-bottom: 60px;
        }
        .container_icon {
            display: flex;
            flex-wrap: wrap;
            > div {
                width: 20%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                display: flex;
                padding: 20px 10px;

                @media (max-width: 576px) {
                    width: 50%;
                }

                .wrapper_icon {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }

                span {
                    font-family: "Inter", sans-serif;
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
}

section.contact {
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(22, 23, 25, 0.7469581582633054) 0%,
        rgba(0, 0, 0, 1) 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    @media (max-width: 1024px) {
        min-height: unset;
    }

    @media (max-width: 576px) {
        padding: 60px 40px 40px;
        align-items: flex-start;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 800px;

        .email {
            display: none;
        }

        > div {
            &:first-child {
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 992px) {
                    width: 100%;
                }
            }

            &:last-child {
                width: 65%;
                padding-left: 100px;
            }

            h1,
            h2 {
                color: #fff;
                margin-bottom: 40px;
            }

            h2 {
                white-space: pre-line;
                font-size: 22px;
                line-height: 28px;
            }

            @media (max-width: 992px) {
                width: 100%;

                h1,
                h2 {
                    text-align: center;
                }

                // h2 {
                //     white-space: normal;
                // }

                .email {
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-family: "Inter", sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
            }
        }

        form {
            position: relative;

            @media (max-width: 992px) {
                margin-bottom: 40px;
            }

            > div {
                margin-bottom: 20px;
                > div {
                    border-radius: 10px !important;
                    background-color: #fff;
                    input {
                        font-family: "Inter", sans-serif !important;
                        padding: 12px 10px !important;
                    }

                    ::placeholder {
                        font-family: "Inter", sans-serif !important;
                    }
                }
            }

            @media (max-width: 992px) {
                button {
                    margin-bottom: 40px;
                }
            }

            @media (max-width: 992px) {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 60%;
                    height: 1px;
                    background: #fff;
                    opacity: 50%;
                }
            }
        }

        button {
            height: 52px;
            &.MuiButton-root {
                width: 100%;
                color: #fff;
                border-radius: 50px;
                padding: 10px 20px;
                background: linear-gradient(
                    270deg,
                    rgba(0, 49, 102, 1) 0%,
                    rgba(0, 122, 255, 1) 100%
                ) !important;
                border: 0 !important;
            }
        }

        .btn_gradient {
            border-radius: 100rem;
            padding: 10px 20px;
            color: #fff;
            border: solid 2px transparent;
            background-image: linear-gradient(
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0)
                ),
                linear-gradient(
                    270deg,
                    rgb(0, 49, 102) 0%,
                    rgb(0, 122, 255) 100%
                );

            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 2px 1000px 1px #000 inset;
        }
    }

    .mobile {
        display: none;
    }

    @media (max-width: 992px) {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }
    }

    button:not(.btn_gradient) {
        border: 0 !important;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
