section.product {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px;

    @media (max-width: 1024px) {
        min-height: unset;
    }

    @media (max-width: 576px) {
        align-items: flex-start;
        min-height: unset;
        padding: 60px 40px;
    }
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        > div {
            width: 50%;

            @media (max-width: 992px) {
                width: 100%;
            }

            &:first-child {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-right: 40px;

                @media (max-width: 992px) {
                    padding-right: 0;
                    margin-bottom: 60px;
                }
                h3 {
                    color: #fff;
                    white-space: pre-line;
                    line-height: 25px;
                    font-weight: 400;

                    @media (max-width: 1024px) {
                        white-space: normal;
                    }

                    span {
                        font-weight: 700;
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 40px;

                    @media (max-width: 992px) {
                        justify-content: center;
                    }
                    li {
                        padding: 0 5px;
                        margin-bottom: 10px;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        button {
                            background-color: transparent;
                            border-radius: 50px;
                            border: 1px solid #fff;
                            color: #fff;
                            padding: 5px 20px;
                            font-size: 12px !important;
                            font-weight: 400 !important;
                            font-family: "Rubik", sans-serif !important;

                            @media (max-width: 576px) {
                                font-size: 10px !important;
                                padding: 1px 12px !important;
                            }
                        }
                    }
                }

                .logo {
                    display: block;
                    margin-bottom: 40px;

                    @media (max-width: 992px) {
                        margin: 0 auto 40px;
                    }
                }
            }

            &:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 100%;
            }
        }
    }
}
